@import "src/styles/colors.module.scss";
@import "src/styles/mixins/breakpoints.module.scss";

.header-buttons {
    display: flex;
    align-items: center;

    & svg:hover {
        color: $rc-third;
        cursor: pointer;
    }

    @include breakpoints($desktop) {
        margin-left: 10px;
    }
}
