/* stylelint-disable property-no-unknown */
/* stylelint-disable selector-pseudo-class-no-unknown */
$rc-black: #252525;
$rc-orange: #dc780b;
$rc-gray-blue: #e7ebf0;

:export {
    defaultBlack: $rc-black;
}
