/* stylelint-disable property-no-unknown */
/* stylelint-disable selector-pseudo-class-no-unknown */
$rc-black: #252525;
$rc-third: #628a0d;
$rc-gray-blue: #e7ebf0;

:export {
    defaultBlack: $rc-black;
}
