@import "src/styles/colors.module.scss";
@import "src/styles/mixins/breakpoints.module.scss";

.container {
    max-width: 370px;
    padding: 50px;

    @include breakpoints($tablet) {
        max-width: 500px;
    }

    .title {
        text-align: center;
        margin-bottom: 10px;
    }

    .login-btn {
        margin-top: 15px;
    }

    .register-text {
        margin-top: 10px;

        a {
            color: $rc-third;

            &:hover {
                font-weight: 700;
                text-decoration: underline;
            }
        }
    }
}
