@import "src/styles/colors.module.scss";
@import "src/styles/mixins/breakpoints.module.scss";

.container {
    max-width: 370px;
    padding: 50px;

    @include breakpoints($tablet) {
        max-width: 500px;
    }

    .title {
        margin-bottom: 10px;
    }

    .register-btn {
        margin-top: 15px;
    }

    :global(.MuiTypography-root) {
        font-size: 24px;
        text-align: center;
    }
}
