@import "src/styles/consts/sizes.module.scss";
@import "src/styles/mixins/breakpoints.module.scss";

.page-layout {
    padding-left: $general-padding;
    padding-right: $general-padding;

    @include breakpoints($tablet) {
        padding-left: $desktop-page-padding;
        padding-right: $desktop-page-padding;
    }
}
