@import "src/styles/mixins/breakpoints.module.scss";
@import "src/styles/consts/sizes.module.scss";
@import "src/styles/colors.module.scss";

.mobile-menu {
    transition: opacity 0.5s ease;
    opacity: 0;
    height: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include breakpoints($desktop) {
        display: none;
    }

    * {
        display: none;
    }
}

.mobile-menu.open {
    position: absolute;
    top: 0;
    opacity: 1;
    z-index: 1;
    color: $rc-black;
    overflow: hidden;
    backdrop-filter: blur(8px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: $general-padding;
    padding-right: $general-padding - 12px;

    @include breakpoints($tablet) {
        padding-left: $desktop-page-padding;
        padding-right: $desktop-page-padding - 12px;
    }

    .menu-button {
        align-self: flex-end;
        color: $rc-gray-blue;

        &:hover {
            color: $rc-third;
        }
    }

    .links {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
            margin-top: 15px;
        }

        :global(.MuiTypography-root) {
            text-transform: uppercase;
        }
    }

    * {
        display: block;
    }
}
